[submodule "modules/OSBot-Cloud-FS"]
	path = modules/OSBot-Cloud-FS
	url = git@github.com:owasp-sbot/OSBot-Cloud-FS.git
[submodule "modules/OSBot-Utils"]
	path = modules/OSBot-Utils
	url = git@github.com:owasp-sbot/OSBot-Utils.git
[submodule "modules/Memory-FS"]
	path = modules/Memory-FS
	url = git@github.com:owasp-sbot/Memory-FS.git
[submodule "modules/Graph-FS"]
	path = modules/Graph-FS
	url = git@github.com:owasp-sbot/Graph-FS.git
[submodule "modules/Boto3-FS"]
	path = modules/Boto3-FS
	url = git@github.com:owasp-sbot/Boto3-FS.git
[submodule "modules/Fast-API-FS"]
	path = modules/Fast-API-FS
	url = git@github.com:owasp-sbot/Fast-API-FS.git
